.carousel-image {
    width: 640px;
    height: 400px;
}

@media (max-width: 1100px) {
    .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .card {
        width: 100% !important;
    }

    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .carousel-image {
        width: 100%;
        height: auto;
    }
}